<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>pepeHands</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/css/globalRating.css"/>
</head>
<body>
<div class="container">
    <div class="row">

        <a href="/" class="btn btn-info" role="button">gachiBass</a>
        <a href="/addMalProfile" class="btn btn-info" role="button">Add profile to rating</a>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table id="ratingTable" class="table table-striped table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">Pic</th>
                    <th scope="col">Name</th>
                    <th scope="col">Days</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Mean Viewed score</th>
                    <th scope="col">Mean score</th>
                </tr>
                </thead>
                <tr th:each="profile: ${profiles}">
                    <td><img th:if="${profile.malAvatarurl}" height="40" width="40" th:src="${profile.malAvatarurl}">
                        <img th:if="${profile.malAvatarurl == null}" width="40" height="40" th:src="@{gachibass.gif}">
                    </td>
                    <td><a th:text="${profile.username}"
                           th:href="@{'https://myanimelist.net/profile/' + ${profile.username}}"/></td>
                    <td th:text="${profile.days}"/>
                    <td th:text="${profile.completed}"/>
                    <td th:text="${profile.meanViewedScore}"/>
                    <td th:text="${profile.meanScore}"/>
                </tr>
            </table>

        </div>
    </div>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="/js/globalRating.js"></script>
</body>
</html>