<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>gachiBASS</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>

<iframe width="420" height="420" src="https://www.youtube.com/embed/LJPpGxbPras?autoplay=1&loop=1" frameborder="0"
        allowfullscreen></iframe>

</body>
</html>